In [10]:
import yfinance as yf
from datetime import datetime
import pandas as pd
import numpy as np

In [4]:
def get_price_data(tickers, start, end):
    for t in tickers:
        df = yf.download(t, start=start, end=end, auto_adjust=False)
        df = df.reset_index()
        df.columns = [x[0] for x in df.columns]
        df = df[["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]]
        df.to_csv(f"{t}.csv", index=False)
        print(f"Saved {t} to {t}.csv")

In [5]:
START_DATE = datetime(2025, 9, 3)
END_DATE = datetime(2025, 10, 3)

In [6]:
get_price_data(['INTC'], START_DATE, END_DATE)

[*********************100%***********************]  1 of 1 completed

Saved INTC to INTC.csv

In [9]:
intc = pd.read_csv('INTC.csv')
intc.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2025-09-03  24.090000  24.090000  23.719999  24.000000  24.000000  47822900
1  2025-09-04  23.850000  24.639999  23.750000  24.610001  24.610001  59056500
2  2025-09-05  24.600000  24.709999  24.170000  24.490000  24.490000  55975300
3  2025-09-08  24.480000  24.740000  24.120001  24.480000  24.480000  51122100
4  2025-09-09  24.530001  24.809999  24.270000  24.440001  24.440001  42146200

In [12]:
intc.shift().head()

         Date   Open       High        Low      Close  Adj Close      Volume
0        None    NaN        NaN        NaN        NaN        NaN         NaN
1  2025-09-03  24.09  24.090000  23.719999  24.000000  24.000000  47822900.0
2  2025-09-04  23.85  24.639999  23.750000  24.610001  24.610001  59056500.0
3  2025-09-05  24.60  24.709999  24.170000  24.490000  24.490000  55975300.0
4  2025-09-08  24.48  24.740000  24.120001  24.480000  24.480000  51122100.0

In [25]:
returns = np.log(intc.loc[:, 'Adj Close'] / intc.shift().loc[:, 'Adj Close']).dropna()
returns.std()

np.float64(0.05410840708986311)